body{
    background-image: url(fundo.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.base{
    background-color: rgb(158, 152, 152);
    width: 50%;
    height: 40em;
    border-radius: 5%;
    margin-top: 3rem;
}

.cabecalho{
    width: 100%;
    height: 20%;
    color: rgb(36, 26, 26);
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.espacos{
    width: 80%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
}

input{
    margin-bottom: 1em;
    display: inline-block;
    padding-left: 15%;
    padding-bottom: 10px;
    padding-top: 10px;
    
}

label{
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 992px) {
    .base {
      width: 90%;
      margin-top: 0rem;
    }
    .cabecalho{
        font-size: 1.5rem;
    }
    body{
        background-size: cover;
        height: 110vh;
    }
  }